<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CleanUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CleanUIDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>75136092270BA6E8002E74AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>758C62742708BC2A008CF28A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>758C627E2708BC2A008CF28A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75E64D11270E499300D742A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
